.container{
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Dropzone{
    position: relative;
    justify-content: center;
}
.edit{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.edit input{
    width: 200px;
    height: 50px;
}

.edit img{
    position: relative;
    max-width: 200px;

    border-radius: 50%;
}
.edit button{
    width: 100px;
    font-weight: 600;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  height: 38px;
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}
.edit button:hover{
    outline: none;
}
.Svg{
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
    color: green;
  
    
}