.Wrapper{
    background-color: #F9F9F9;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Show{
    background-color: #F7F7F7;
    position: fixed;
    top: 102px;
    z-index: 10;
    width: 400px;
    height: 90vh;
}
.Show h1{
    text-align: center;
}
.user{
    display: flex;
    position: relative;
    left: 10px;

}
.user img{
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;

}
.btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.btn button{
    font-size: 25px;
}

.container{
    display:block;
    margin: auto;
    
    margin-bottom: 100px;
    max-width: 100%;
    
}
.Blogs{
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333% ;
    margin-top: 30px;
    margin-left: 70px;
}
.avatar{
    position: relative;
    top: 10px;
    left: 200px;
    display: flex;
    

}
.avatar img{
    position: relative;
    max-width: 250px;

    border-radius: 50%;
}
.Info{
    position: relative;
    left: 20px;
}
.Info button{
    border: none;
    background: none;
}
.Info button:focus{
    outline: none;
}
hr {

    overflow: visible;
    width:70vw;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}




@media (max-width:570px){
    .avatar{
        display: flex;
        flex-direction: column;
        left: 0;
    }

    .avatar img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        
      
    }
    .Info{
        left: -20px;
        top: 20px;
        text-align: center;
    }
    .Blogs{
        margin-top: 10px;
        display: block;
        max-width: 100%;
        margin-left: 0;
    }
    .Show{
        width: 100vw;
        top: 60px;
    }
    .user img{
        max-width: 80px;
        object-fit: cover;
        
    }
    .Wrapper{
        overflow:auto;
    }
    .Edit{
        position: absolute;
        width: 92vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}